.delivery-container {
    max-width: 1200px;
    margin: 40px auto;
}

.delivery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red 1px;
}

h1 {
    font-size: 48px;
    color: #FFFEA5;
}

.steps {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.step {
    color: black;
}

.step.active {
    background: #FFFEA5;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #2C5C50;
}

.arrow.active {
    color: #FFFEA5;
}

/* Основной контейнер с формой и корзиной */
.delivery-main {
    display: flex;
    align-items: flex-start;
    gap: 0;
    position: relative;
    border: solid red 1px;
    margin-top: 10px;
}

/* Форма — 60% ширины */
.delivery-main form {
    flex: 0 0 60%;
    padding-right: 20px;
    box-sizing: border-box;
}

/* Белая линия между формой и корзиной */
.delivery-main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
}

/* Сетка полей формы */
.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    /* одинаковый отступ между всеми полями */
}

.item-street {
    grid-column: 1 / 3;
    /* на всю ширину */
}

.form-grid input,
.form-grid select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Корзина — 40% */
.delivery-cart {
    flex: 0 0 40%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid red 1px;
}

.delivery-cart-top {
    margin-bottom: 10px;
}

:root {
    --cart-item-height: 70px;
}

.delivery-cart-item {
    height: var(--cart-item-height);
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.delivery-cart-item img {
    height: 100%;
    /* немного меньше высоты, чтобы был отступ сверху/снизу */
    border-radius: 10px;
    object-fit: cover;
}

.delivery-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.delivery-cart-bottom {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 7px;
}

.delivery-price {
    font-size: 23px;
}

.go-to-pay-btn {
    background-color: #2C5C50;
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.go-to-pay-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}