.payment-container {
    max-width: 1200px;
    margin: 40px auto;
}

.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #FFFEA5;
}

.steps {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.step {
    color: black;
}

.step.active {
    background: #FFFEA5;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #2C5C50;
}

.arrow {
    color: black;
}

/* Основной блок */
.payment-main {
    display: flex;
    align-items: stretch;
    /* заставим дочерние блоки быть одинаковой высоты */
    gap: 20px;
}

/* Левый блок: способы оплаты */
.payment-methods {
    flex: 2;
    /* занимает больше места */
    /* только для наглядности */
    display: grid;
    gap: 1rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.payment-methods h2 {
    font-size: 24px;
}

.payment-buttons {
    display: flex;
    gap: 1rem;
}

.payment-buttons>div {
    width: 110px;
    height: 70px;
    border: 1px solid #2C5C50;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.payment-buttons>div.active {
    border: 5px solid #2C5C50;

}

.mastercard-btn img,
.paypal-box img,
.qr-pay img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* картинка вписывается в контейнер */
    display: block;
    /* убирает лишние пробелы под картинкой */
}


.mastercard-btn:hover,
.paypal-box:hover,
.qr-pay:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* QR */
.qr-pay {
    text-align: center;
}

.qr-pay img {
    width: 200px;
    margin-top: 10px;
}

.payment-divider {
    width: 2px;
    /* толщина линии */
    background: white;
    /* цвет линии */
    flex-shrink: 0;
    /* не даём ей сжиматься */
}

/* Блок корзины */
.payment-cart {
    flex: 1;
}

.payment-cart-bottom {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 7px;
}


:root {
    --cart-item-height: 70px;
}

.payment-cart-item {
    height: var(--cart-item-height);
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.payment-cart-item img {
    height: 100%;
    /* немного меньше высоты, чтобы был отступ сверху/снизу */
    border-radius: 10px;
    object-fit: cover;
}

.payment-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.payment-price {
    font-size: 23px;
}