.payment-container {
    max-width: 1200px;
    margin: 40px auto;
}

.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red 1px;
}

h1 {
    font-size: 48px;
    color: #FFFEA5;
}

.steps {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.step {
    color: black;
}

.step.active {
    background: #FFFEA5;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #2C5C50;
}

.arrow {
    color: black;
}

/* Основной блок */
.payment-main {
    display: flex;
    align-items: flex-start;
    gap: 0;
    position: relative;
    border: solid red 1px;
    margin-top: 10px;
}

.payment-main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
}

/* Левый блок: способы оплаты */
.payment-methods {
    flex: 0 0 60%;
    background: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.payment-methods h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Кнопка Stripe */
.pay-btn {
    display: block;
    background: #2C5C50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.2s;
}

.pay-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* PayPal */
.paypal-box {
    margin-bottom: 30px;
}

/* QR */
.qr-pay {
    text-align: center;
}

.qr-pay img {
    width: 200px;
    margin-top: 10px;
}

/* Блок корзины */
.payment-cart {
    flex: 0 0 40%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid red 1px;
}

.payment-cart-top {
    margin-bottom: 10px;
}

.payment-cart-bottom{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 7px;
}


:root {
    --cart-item-height: 70px;
}

.payment-cart-item {
    height: var(--cart-item-height);
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.payment-cart-item img {
    height: 100%;
    /* немного меньше высоты, чтобы был отступ сверху/снизу */
    border-radius: 10px;
    object-fit: cover;
}

.payment-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.payment-price {
    font-size: 23px;
}